h1 {
    text-align: center;
    text-decoration: underline;
    line-height: 10px;
    letter-spacing: 6px;
    font-size: 45px;
    color: red;
}

h2 {
    text-align: center;
    text-decoration: dashed;
    line-height: 23px;
    letter-spacing: 3px;
    font-size: 28px;
    color: black;
}

p {
    background-color: aqua;
}

li {
    text-align: center;
    color: red;


}


body {
    text-align: center;
}